* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f2f5f6;
}


/* HEADER */
.header {
    background-color: #2d6f73;
    display: flex;
    flex-direction: column; 
    padding: 15px 30px;
    color: white;
}

/* FILA SUPERIOR */
.top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* MENÚ DE ABAJO */
.nav {
    display: flex;
    gap: 35px;
    justify-content: center;
    margin-top: 15px;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

/* LOGO */
.logo {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 44px;
    font-weight: bold;
}

.logo-img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

/* BUSCADOR */
.search {
    width: 600px;
    padding: 8px;
    border-radius: 20px;
    border: none;
}

/* USUARIO */
.user-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

.mis-compras {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.usuario {
    display: flex;
    flex-direction: column;  
    align-items: center;     
    gap: 5px;
}

.avatar {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    object-fit: cover;
}

.icono {
    font-size: 20px; /* porque son emojis */
}

/* PRODUCTOS */
.productos {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.producto {
    background-color: white;
    width: 220px;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.img-producto {
    width: 80%;
    height: 180px;
    background-color: #ddd;
    margin-bottom: 10px;
}
.estrellas {
    color: #f5b301;
    margin: 5px 0;
}

.precio {
    font-weight: bold;
    margin-top: 5px;
}

/* CATEGORIAS */
.categorias {
    background-color: #dbe5e7;
    padding: 30px;
}

.titulo-categorias {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.titulo-categorias a {
    text-decoration: none;
    color: #2d6f73;
    font-size: 14px;
}

.grid-categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.categoria {
    background-color: #3b7f85;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
    color: white;
    border-radius: 8px;
}

.img-cat {
    width: 120px;
    height: 74px;
    align-items: flex-start;
    object-fit: cover;
    border-radius: 10%;
}

@media (max-width: 768px) {

    .search {
        display: none; 
    }

    .nav {
        display: none; 
    }

    .mis-compras {
        display: none; 
    }
}
@media (max-width: 1024px) {

    .productos {
        flex-wrap: wrap;
        justify-content: center;
    }

    .grid-categorias {
        grid-template-columns: repeat(2, 1fr);
    }

}
@media (max-width: 768px) {

    .top-header {
        flex-direction: column;
        gap: 15px;
    }

    .search {
        width: 100%;
    }

    .nav {
        display: none; /* oculta menú en móvil */
    }

    .grid-categorias {
        grid-template-columns: 1fr;
    }

    .productos {
        flex-direction: column;
        align-items: center;
    }

}
@media (max-width: 768px) {

    .search {
        width: 100%;      /* ocupa el ancho disponible */
        max-width: 250px; /* límite para que no sea enorme */
    }

}
